@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    color: #ff0000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position:relative;
  /* height: 200px; */
  flex: 0 0 auto;
}
